<%- include("partials/header"); -%>

<div class="mt-2 mb-5 container">
    <div class="row d-lg-none mb-2">
        <div class="col d-flex justify-content-start">
            <a class="link" href="/compose">+ Compose</a>
        </div>
      </div>
    <% if (posts.length === 0){ %>
        <div class="row mt-5">
            <div class="col mt-lg-5">
                <h1 class="h1 text-center">
                    <p>Your journal is blank</p>
                    <a href="/compose">
                        <div>Add your first note</div>
                    </a>
                </h1>
            </div>
        </div>
     <% } else { %>
        <div class="row">
            <div class="col">
                <div >
                    <% posts.forEach(function(post){ %>
                        <h3><%= post.title %></h3>
                        <p class="lastSeen">
                            Last edited on
                            <%= humanizeDateTime(post.updatedAt) %>
                        </p>
                        <p class="mb-5">
                            <%= post.content.substring(0,100) + " ...   " %>
                            <a class="link" href="/posts/<%=post._id%>">Read more</a>
                        </p>
                    <% }) %>
                </div>
            </div> 
        </div>
    <% } %>
</div>

<%- include("partials/footer"); -%>
