<%- include("../partials/header"); -%>
<div class="container max-700">
    <div class="row mb-2">
        <div class="col">
            <h1 class="titles">Edit Entry</h1>
            <%- include("../partials/alerts") %> 
            <form class="new container" action="/posts/<%= id %>/update" method="POST">
                <%- include("formFields"); -%>
            </form>
        </div>
    </div>
</div>
<!--<%- include("../partials/footer"); -%>-->