<%- include("../partials/header"); -%>

<div class="mt-2 mb-5 container max-700">
    <div class="row mb-2">
        <div class="col d-flex justify-content-start">
            <a class="bluelink" href="/new">+ Compose</a>
        </div>
      </div> 
    <div class="row">
        <div class="col">
            <h1 class="titles">My Posts</h1>
        </div>
    </div>
    <%- include("../partials/alerts") %> 
    <% if (posts.length === 0){ %>
        <div class="row">
            <div class="col empty-home justify-content-center" >
                Your journal is empty. Add your daily notes           
                <a class="link empty-home-link text-decoration-underline" href="/new"> 
                   Here <i class="fa-solid fa-feather"></i> 
                </a>
            </div>
        </div>  
     <% }else { %>
        <div class="row">
            <div class="col">
                <div>
                    <% posts.forEach(function(post){ %>
                        <h3><%= post.title %></h3>
                        <p class="lastSeen">
                            Last edited: 
                            <%= new Date(post.updatedAt).toLocaleDateString(
                                "en-US", 
                                {weekday: "long",
                                    day: "numeric",
                                    month: "long", 
                                    year: "numeric",
                                    hour: "numeric",
                                }
                            )%>
                        </p>
                        <p class="mb-5">
                        <% if (post.content.length > 30) { %> 
                            <%=post.content.substring(0,30) + " ...   " %>
                            <a class="bluelink" href="/posts/<%=post._id%>">Read more <i class="fa fa-eye"></i></a>
                       
                        <% } else { %>
                            <%=post.content + " " %> 
                            <a class="bluelink" href="/posts/<%=post._id%>"> 
                                <i class="fa fa-eye"></i>
                            </a>
                        <% } %>
                        </p>
                    <% }) %>
                </div>
            </div> 
        </div>
    <% } %>
</div>
        
