<%- include("../partials/header"); -%>

<div class="content container max-700">
  <div class="row d-lg-none mb-2">
    <div class="col d-flex justify-content-end">
        <a class="text-decoration-none link small " href="/posts">< Back to Home Page</a>
    </div>
  </div> 
  <%- include("../partials/alerts") %>
    <div class="">    
      <h3>  <%=title%> </h3>
      </p>
      <p class="text-justify">
        <%=content%>
      </p>
      <p class="lastSeen text-muted small">Last edited: <%=new Date(updatedAt).toLocaleDateString("en-US", {
        weekday: "long",
        day: "numeric",
        month: "long", 
        time:"numeric"
      })%>
    </div>
  <div class="row">
    <div class="col">
      <div class=" gap-3 d-flex">
        <form action="/posts/<%= id %>" method="post">
          <button onclick="return confirm('Are you sure you want to delete it?')"  confirm="Are you sure?" class="btn btn-sm btn-danger " type="submit"> 
            <i class="fa-solid fa-trash"></i> Delete 
          </button>
        </form>
        <div class="">
          <a class="btn btn-secondary btn-sm" href="/posts/<%= id %>/edit">
            <i class="fa-solid fa-pen-to-square"></i>
            Edit
          </a>
        </div>
      </div>
   </div>
  </div>
</div>
<%- include('../partials/footer') %>
