<%- include("../partials/header"); -%>

<div class="mt-1 mb-2 container">
  <div class="row d-lg-none mb-5">
    <div class="col d-flex justify-content-start">
        <a class="link" href="/posts">< Back to Home Page</a>
    </div>
  </div> 
  <%- include("../partials/alerts") %>
  <div class="row">
    <div class="col">    
      <h1>  <%=title%> </h1>
      <p class="lastSeen">Last edited: <%=new Date(updatedAt).toLocaleDateString("en-US", {
        weekday: "long",
        day: "numeric",
        month: "long", 
        time:"numeric"
      })%></p>
      <p ><%=content%></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class=" gap-3 d-flex">
        <form action="/posts/<%= id %>" method="post">
          <button value="delete" confirm="Are you sure?" class="btn btn-sm btn-danger " type="submit"> 
            <i class="fa-solid fa-trash"></i> Delete 
          </button>
        </form>
        <div class="">
          <a class="btn btn-secondary btn-sm" href="/posts/<%= id %>/edit">
            <i class="fa-solid fa-pen-to-square"></i>
            Edit
          </a>
        </div>
      </div>
   </div>
  </div>
</div>  

<%- include("../partials/footer"); -%>